{% extends "layout.njk" %}

{% block pageTitle %}Members - The Kainos Library{% endblock %}

{% block pageContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Members</h1>
    <p class="govuk-body">Member management coming soon.</p>
  </div>
</div>
{% endblock %}
